/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
html,body{
    height: 100%;
    overflow: hidden;
    color: #172B4D;
font-family: 'Roboto', sans-serif;
}
 
h1,h2,h3,h4,h5,h6{
    font-family: 'Lato', sans-serif;
 
}
 
.container{
    width: 100%;
    height: 100%;
 
    display: flex;
 
}
 
.logo_desktop{
    padding: 16px;
    margin-bottom: 16px;
}
 
.title_wrapper{
    /* width: 50%; */
    height: 100%;
    display: none;
    place-items: center;
    padding: 32px;
    background-color: #073a87;
    color: white;
 
    background-image: url('../assets/pattern.svg');
 
    background-repeat: no-repeat;
    background-size: cover;
}
 
 
.form_wrapper{
    padding: 32px;
    width: 100%;
    display: grid;
    place-items: center;
}
.form_inner_wrapper{
    width: 100%;
}
.logo_wrapper{
    width: 100%;
}
.logo_wrapper img{
    width: 120px;
}
 
@media (min-width: 700px) {
 
    .title_wrapper{
        display: grid;
        width: 50%;
    }
 
    .form_wrapper{
        width: 50%;
    }
    .logo_wrapper{
        display: none;
    }
    .form_inner_wrapper{
        width: 70%;
    }
}
 
.title_wrapper h2{
    padding: 16px;
    font-size: 28px;
    opacity: 0.85;
   
}
.title_wrapper p{
    padding: 16px;
    font-size: 18px;
    line-height: 26px;
    opacity: 0.85;
 
}
h3{
    text-align: center;
    padding: 16px;
    opacity: 0.85;
}
form{
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}
label{
    padding: 8px 0;
    font-size: 14px;
    color: #172b4dea;
}
input{
    width: 100%;
    background-color: #fff;
    color: inherit;
    border: 1px solid #d2d3d7;
    font: inherit;
    padding: 0.8em;
    line-height: 1;
    border-radius: 3px;
    height: 42px;
    margin-bottom: 8px;
}
 
.input_error:focus{
    outline: 2px solid #ff5630b7 !important;
}
 
button{
    /* width: 70%; */
    height: 42px;
    margin-top: 32px;
    border-radius: 3px;
    border: none;
    background-color: #073a87;
    color: white;
    font-size: 16px;
}
 
 input:focus-visible {
      outline: 2px solid #073a87a0;
    }
 
    @media (min-width: 700px) {
        input{
 
            width: 100%;
            height: 45px;
        }
    }
